# Data aggregation and group operations

In [1]:
import pandas as pd
import numpy as np

## Basic aggregation and grouping

* Load the dataset auto.csv

In [2]:
df_auto = pd.read_csv("auto.csv")
df_auto.sample(5)

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
156,toyota,gas,std,four,sedan,fwd,front,95.7,166.3,64.4,...,98,2bbl,3.19,3.03,9.0,70.0,4800.0,30,37,6938.0
107,peugot,gas,std,four,sedan,rwd,front,107.9,186.7,68.4,...,120,mpfi,3.46,3.19,8.4,97.0,5000.0,19,24,11900.0
63,mazda,diesel,std,NaN,sedan,fwd,front,98.8,177.8,66.5,...,122,idi,3.39,3.39,22.7,64.0,4650.0,36,42,10795.0
62,mazda,gas,std,four,sedan,fwd,front,98.8,177.8,66.5,...,122,2bbl,3.39,3.39,8.6,84.0,4800.0,26,32,10245.0
182,volkswagen,diesel,std,two,sedan,fwd,front,97.3,171.7,65.5,...,97,idi,3.01,3.40,23.0,52.0,4800.0,37,46,7775.0

* Compute the mean of **horsepower**

In [3]:
df_auto["horsepower"].mean()

104.25615763546799

* Compute the mean of **horsepower** for groups defined by **drive-wheels** (rwd, fwd, 4wd)

In [4]:
df_auto.groupby("drive-wheels")["horsepower"].mean()

drive-wheels
4wd     95.333333
fwd     85.974576
rwd    133.697368
Name: horsepower, dtype: float64

* Compute the mean of **horsepower** and **price** for groups defined by **engine-location** (front, rear)

In [5]:
df_auto.groupby("engine-location")[["horsepower", "price"]].mean()

                 horsepower         price
engine-location
front               102.715  12884.085859
rear                207.000  34528.000000

* Compute the median of all the numerica variables for groups defined by **fuel-type** and **aspiration**

In [6]:
df_auto.groupby(["fuel-type", "aspiration"]).median()

                      wheel-base  length  width  height  curb-weight  \
fuel-type aspiration
diesel    std               97.3   171.7   65.5    54.5       2275.0
          turbo            107.9   187.5   68.4    56.5       3252.0
gas       std               96.5   172.0   65.4    53.7       2385.0
          turbo             96.6   173.2   66.3    51.8       2840.0

                      engine-size   bore  stroke  compression-ratio  \
fuel-type aspiration
diesel    std               110.0  3.270    3.40               22.5
          turbo             152.0  3.580    3.52               21.5
gas       std               110.0  3.270    3.23                9.0
          turbo             130.5  3.585    3.39                7.6

                      horsepower  peak-rpm  city-mpg  highway-mpg    price
fuel-type aspiration
diesel    std               56.0    4650.0      37.0         46.0   7898.0
          turbo             95.0    4350.0      26.0         27.0  17075.0
gas       std               90.0    5200.0      25.0         31.0   9594.0
          turbo            145.0    5350.0      19.0         24.0  14489.0

## More advanced aggregations

* Compute mean and standard deviation of the columns **horsepower** and **peak-rpm**, for groups defined by **aspiration**

In [14]:
df_auto.groupby("aspiration")[["horsepower", "peak-rpm"]].agg([np.mean, np.std]) #.agg(["mean", "std"])

            horsepower                peak-rpm
                  mean        std         mean         std
aspiration
std          99.759036  40.079191  5166.867470  464.743468
turbo       124.432432  31.240590  4939.189189  505.680940

* Compute mean of **price** and the max of **horsepower** for groups defined by **make**

In [12]:
df_auto.groupby("make").agg({"price": np.mean, "horsepower": np.max}) #.agg({"price": "mean", "horsepower": "max"})

                      price  horsepower
make
alfa-romero    15498.333333       154.0
audi           17859.166667       160.0
bmw            26118.750000       182.0
chevrolet       6007.000000        70.0
dodge           7875.444444       145.0
honda           8184.692308       101.0
isuzu           8916.500000        90.0
jaguar         34600.000000       262.0
mazda          10652.882353       135.0
mercedes-benz  33647.000000       184.0
mercury        16503.000000       175.0
mitsubishi      9239.769231       145.0
nissan         10415.666667       200.0
peugot         15489.090909       142.0
plymouth        7963.428571       145.0
porsche        31400.500000       288.0
renault         9595.000000         NaN
saab           15223.333333       160.0
subaru          8541.250000       111.0
toyota          9885.812500       161.0
volkswagen     10077.500000       110.0
volvo          18063.181818       162.0

## General transformations

* Take the 3 most expensive cars (**price** column) per constructur (**make** column)

In [9]:
def top3_price(group_data):
    group_data_sort = group_data.sort_values(by="price", ascending=False)
    return group_data_sort.iloc[0:3]

In [10]:
df_auto.groupby("make", group_keys=False).apply(top3_price)

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
8,audi,gas,turbo,four,sedan,fwd,front,105.8,192.7,71.4,...,131,mpfi,3.13,3.40,8.3,140.0,5500.0,17,20,23875.0
7,audi,gas,std,four,wagon,fwd,front,105.8,192.7,71.4,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,18920.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,volkswagen,gas,std,four,sedan,fwd,front,100.4,180.2,66.9,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,24,13295.0
193,volkswagen,gas,std,four,wagon,fwd,front,100.4,183.1,66.9,...,109,mpfi,3.19,3.40,9.0,88.0,5500.0,25,31,12290.0
204,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.9,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0
203,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,68.9,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
202,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0

## Pivoting

* Obtain the pivot table with the mean of **horsepower**, with **fuel-type** on the rows and **aspiration** on the columns

In [11]:
df_auto.pivot_table('horsepower', index="fuel-type", columns="aspiration", aggfunc="mean")

aspiration         std       turbo
fuel-type
diesel       58.142857   98.615385
gas         101.591195  138.416667